.box {
  gap: 1em;
}

.box__title {
  font-weight: 700;
  text-align: initial;
}

.box__image-wrapper img {
  width: 100%;
  height: auto;
}

.box__info-wrapper {
  padding: 0;
  list-style-type: none;
  margin: 1em 0 0 0;
  gap: 0;
  opacity: 0.7;
}

.box__info-wrapper > li {
  display: flex;
  padding: 1em 2em 1em 1em;
  gap: 1em;
  align-items: center;
  max-width: 70%;
}

.box__info-wrapper > li + li {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.box__info-wrapper p {
  cursor: pointer;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    align-items: center;
  }
  .box__info-wrapper > li {
    max-width: 60%;
  }
}
