.info__title {
  text-align: initial;
}

.info__element-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.info__inner-image-wrapper {
  --border-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(90px - var(--border-width) / 2);
  min-width: calc(90px - var(--border-width) / 2);
  position: relative;
  border-radius: 50%;
  border: var(--border-width) solid rgba(246, 128, 128, 0.5);
}

.info__inner-image-wrapper--2 {
  border: 2px solid rgba(246, 128, 128, 0.5);
  border-radius: 50%;
  padding: 1em;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__inner-image-bottom-filler {
  position: absolute;
  bottom: calc(0px - var(--border-width));
}

.info__content {
  gap: 0.5em;
}

.info__inner-title {
  font-size: 2rem;
  font-weight: 500;
  color: #180202;
}

.info__inner-subtitle {
  opacity: 0.7;
}

.info__learn-more {
  text-decoration: none;
  color: #ff4948;
  font-weight: 500;
}

.info__image-wrapper {
  width: 70%;
  max-width: 50vw;
  align-self: center;
}

.info__image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .info-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 5em;
    justify-content: left;
  }

  .info {
    flex: 1;
  }

  .info__image-wrapper {
    flex: 1;
    text-align: center;
  }
  .info__image {
    width: 70%;
  }
}
