.swiper {
  margin-top: 1em;
}

.swiper__image-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(126, 118, 118, 0.20);
}

.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  background-image: url(../../assets/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../../assets/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .swiper__image-bg {
    height: 95%;
  }

  .swiper .swiper-slide.swiper-slide-next {
    transform: scale(1.2);
  }
}
