.latest-collection {
  gap: 3em;
}

.latest-product__text {
  text-align: center;
}

.latest-product__subtitle {
  margin-top: 1em;
  font-size: 1.2rem;
}

.latest-product__content {
  --padding-top: 3em;
  --circle-size: calc(40px + 1em);
  --circle-border: 40px;
  padding: var(--padding-top) calc(var(--circle-size) / 2 + 5px) 0 0;
  display: flex;
  gap: 2em;
}

.latest-product__content > * {
  flex: 1;
}

.red-headphones {
  --bg-color: #FFE5EE;
}

.blue-headphones {
  --bg-color: #E5F1FF;
}

.green-headphones {
  --bg-color: #E5FFFB;
}

.red-headphones, .green-headphones {
  display: none;
}

.latest-product__image-wrapper {
  align-self: center;
  max-width: 50vmax;
  margin: 0 auto;
  background-color: var(--bg-color);
  border-radius: 30px;
  position: relative;
  aspect-ratio: 1 / 1;
}

.latest-product__image{
  width: 80%;
  height: auto;
  position: absolute;
  left: 1.5em;
  top: calc(0px - var(--padding-top));
}

.latest-product__upper-image-wrapper {
  height: var(--circle-size);
  width: var(--circle-size);
  position: absolute;
  right: 0;
  top:0;
  transform: translate(50%, -50%);
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 5px solid var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.latest-product__stats {
  margin-top: 2em;
  gap: 1em;
}

.latest-product__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-product__stars {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 0.5em;
}

.latest-product__rating-text {
  font-weight: 500;
  font-size: 1.2rem;
}

.latest-product__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-product__price {
  font-weight: 500;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .latest-product__text {
    width: 70%;
    align-self: center;
  }

  .red-headphones, .green-headphones {
    display: block;
  }
}
