section.subscribe-wrapper {
  padding: 0;
}

.subscribe {
  padding: 2em 1em;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff4f4;
  border-radius: 20px;
}

.subscribe__text {
  text-align: center;
}

.subscribe__title {
  font-size: 2rem;
  font-weight: 700;
}

.subscribe__subtitle {
  margin-top: 1em;
  opacity: 0.7;
}

.subscribe__input {
  border-radius: 70px;
  border: none;
  padding: 1em 2em;
  font-size: 1.2rem;
}

.subscribe__input::placeholder {
  opacity: 0.3;
  font-size: 1.2rem;
}

.subscribe__button {
  padding: 1em 2em;
  font-size: 1.2rem;
  border-radius: 70px;
  border: none;
  color: #fff;
  background-color: #ff4948;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding: 3em 1em;
  }
  .subscribe__form {
    flex-direction: row;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
  }
  .subscribe__input {
    flex: 1;
  }

  .subscribe__button {
    position: absolute;
    right: 0;
  }
}
