.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.header__get-started {
  padding: 0.7em 0.9em;
  border: none;
  background-color: #ADA7FF;
  color: white;
  border-radius: 50px;
  margin-top: 1.2em;
  cursor: pointer;
}

.header__logo {
  height: 5vmax;
  width: auto;
}

.header__menu.is-open .header__menu-dropdown {
  background-color: #243447;
  width: 100%;
  height: 100%;
}

.header__menu-dropdown {
  width: 0;
  transition: 0.5s;
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.header__menu_toggle {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

.header__menu_toggle img {
  width: 5vmax;
  height: auto;
}

.header__nav-menu {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.header__nav-menu > li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0.3em;
}

.header__nav-menu a {
  display: block;
  color: aqua;
}


@media screen and (min-width: 600px) {
  .header {
    border-bottom: none;
    padding: 1em 2rem;
  }
  .header__nav-menu {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    padding: 2.5rem 3.5rem;
    justify-content: initial;
  }
  .header__get-started {
    margin-top: 0;
    margin-left: auto;
  }
  .header__menu {
    flex: 1;
  }
  .header__menu-dropdown {
    width: initial;
    display: flex;
    position: static;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu_toggle{
    display: none;
  }
  .header__nav-menu {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 0.8rem;
  }
  .header__nav-menu > li + li {
    margin-left: 1em;
  }
  .header__nav-menu a {
    display: inline;
    font-size: 0.8em;
    color: black;
  }
  .header__nav-menu > li {
    border: none;
    padding: 0;
  }
  .header__get-started {
    font-size: 0.8rem;
  }
}

