@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/cta/cta.css);
@import url(../blocks/product-info-list/product-info-list.css);
@import url(../blocks/product-example/product-example.css);
@import url(../blocks/container/container.css);
@import url(../blocks/normalize/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&display=swap');

:root {
  box-sizing: border-box;
  font-size: calc(1.1vw + 0.6em);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none!important;
}

ul {
  list-style-type: none!important;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

body > * {
  padding: 0 1.5rem;
}

@media screen and (min-width: 600px) {
  body > * {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1080px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
  body > * {
    padding: 0 3.5rem;
  }
}
