* {
  padding: 0;
  margin: 0;
}
nav,
footer,
header,
aside {
  display: block;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
p {
  margin: 0;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a,
a:link {
  text-decoration: none;
}

:root {
  box-sizing: border-box;
  font-size: 16px;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/dark-hero-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

.header {
  padding: 3rem 4rem;
}

header a {
  color: white;
  transition: 0.5s;
}

header a:hover {
  color: #3ea48c;
}

header a:active {
  color: rgb(83, 99, 240);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.nav-menu-title {
  font-size: 24px;
  font-weight: 700;
}

.central-links {
  font-weight: 600;
}

.central-links > li + li {
  margin-left: 2em;
}

.searcher {
  width: 5rem;
  border: none;
  background-color: transparent;
  display: inline-block;
  font-size: 20px;
  color: white;
}

.searcher:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.searcher::placeholder {
  color: white;
  opacity: 0.5;
}

.magnifier {
  margin-right: 10px;
}

.wrapper {
  display: flex;
  margin-top: 20%;
}

.media-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;
}

.media-links > * + * {
  margin-top: 10px;
}

.media-links-text {
  writing-mode: vertical-rl;
  color: white;
}

.heading-central-part {
  margin-left: 20%;
}

.heading-central-part > * + * {
  margin-top: 25px;
}

.subtitle-content > * {
  display: inline-block;
}

.line {
  width: 40px;
  height: 1px;
  background-color: #ffc178;
  position: relative;
  top: -4px;
  margin-right: 10px;
}

.subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffc178;
  font-weight: 700;
  letter-spacing: 4px;
}

.heading-title {
  font-size: 80px;
  color: white;
  text-transform: capitalize;
}

.heading-title:first-line {
  font-weight: 700;
}

.scroll-down {
  margin-top: 5%;
  text-align: center;
}
.scroll-down .scroll-down-link {
  color: white;
  font-size: 18px;
}

.scroll-down-link::after {
  content: url(../assets/icons/arrow_down.png);
  display: inline-block;
  margin-left: 10px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 4px;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}

main > * {
  margin-top: 200px;
}

.content-block {
  display: flex;
}

.content-image {
  width: auto;
  max-height: 600px;
}

.content-section {
  margin-left: 200px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-title {
  font-weight: 700;
  font-size: 50px;
  color: white;
}

.content-text {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.read-more {
  color: #fbd784;
  font-weight: 700;
  font-size: 18px;
  align-self: flex-start;
}

.read-more::after {
  content: url("../assets/icons/arrow_horizontal.png");
  position: relative;
  top: 2px;
  margin-left: 10px;
}

.gallery-block {
  background-image: url("../assets/images/steps-img.png");
  background-size: cover;
  height: 700px;
  padding: 400px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.gallery-block .read-more {
  align-self: center;
}

.right-arrow {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
}

.left-arrow {
  width: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
}

.line-after {
  width: 40px;
  height: 1px;
  background-color: #ffc178;
  position: relative;
  top: -4px;
  margin-left: 10px;
}

.content-block.reversed-content-block .content-section {
  margin-left: 0;
  margin-right: 200px;
}

.footer {
  margin: 250px auto 0;
  max-width: 1080px;
  padding-bottom: 60px;
}

.footer a {
  color: white;
}

.upper-row {
  padding-bottom: 40px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.footer-logo {
  font-weight: 700;
  font-size: 32px;
}

.button-block {
  display: flex;
  align-items: center;
}

.button-block > * + * {
  margin-left: 40px;
}

.button-title {
  font-style: normal;
  font-weight: 400;
}

.button {
  background-color: #ffa343;
  padding: 15px 50px;
  border: none;
  font-weight: 700;
  border-radius: 8px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 40px;
}

.footer-details {
  color: white;
}

.email-form {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.email-title {
  font-size: 28px;
  font-weight: 700;
}

.submit-form {
  flex-basis: 30%;
  display: flex;
  border-bottom: 1px solid white;
}

.email-input {
  background-color: transparent;
  border: none;
  caret-color: white;
  height: 100%;
  flex-grow: 1;
  color: white;
  font-size: 20px;
}

.email-input:focus {
  outline: none;
}

.email-input::placeholder {
  color: white;
  opacity: 0.5;
}

.submit-button {
  flex-basis: 18%;
  background-color: #ffa343;
  border: none;
  border-radius: 8px 8px 0 0;
}

.details-block-list {
  display: flex;
  flex-direction: column;
}

.details-block-list > * + * {
  margin-top: 20px;
}

.details-block-list > li:first-child a {
  color: #ffd1a0;
}

.privacy-policy {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.licence-part {
  display: flex;
}

.licence-part > * + * {
  margin-left: 20px;
}

.footer-social-media-links {
  display: flex;
  align-items: center;
}

.footer-social-media-links > * + * {
  margin-left: 50px;
}

.copyright {
  color: white;
  margin-top: 100px;
  text-align: center;
  opacity: 0.5;
}
