.main__feature-page {
  display: flex;
  flex-direction: column;
  gap: 5em;
  align-items: center;
}

.main__feature-page__title {
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
}

.main__feature-page__button-block {
  display: flex;
  gap: 3em;
}

.main__feature-page__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
}

.main__feature-page__image {
  position: absolute;
  height: 50vh;
  width: auto;
  right: 10%;
  bottom: 50%;
  transform: translateY(50%);
  z-index: -1;
}
