.header__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header__nav__menu {
  transform: translateX(-10%);
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 2em;
  align-items: center;
}

.header__nav__menu > li:not(:first-child) {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.header__nav__logo-title {
  text-transform: capitalize;
  font-size: 1.5rem;

}

.header__logo {
  width: 4em;
  height: auto;
}
