.main__home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.main__home__content__title {
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
}

.main__home__content__subtitle {
  font-weight: 400;
  margin: 0;
}
