.main__sign-up-wrapper.hidden {
  display: none;
}

.main__sign-up-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  background-color: #5e659d;
  border-radius: 20px;
  gap: 2em;
}

.main__sign-up-wrapper > div > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__sign-up-wrapper input {
  outline: none;
  border: 3px solid #d2ac7a;
  border-radius: 10px;
  max-width: 75%;
  height: 2.5em;
}

