.main {
  display: flex;
  justify-content: flex-start;
}

.main__copyright {
  writing-mode: vertical-lr;
  rotate: 180deg;
  position: absolute;
  bottom: 1em;
  right: 0.2em;
  opacity: 0.5;
  user-select: none;
}

.main__copyright:hover {
  cursor: default;
}


