/* Download font 'Poppins' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");
@import url("bg-image.css");
@import url("button.css");
@import url("header.css");
@import url("main.css");
@import url("home.css");
@import url("discover.css");
@import url("join.css");
@import url("footer.css");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #d2ac7a;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
  box-sizing: border-box;
  font-size: calc(0.8rem + 0.6vw);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  background-color: var(--color-orange);
  /*background-image: url("./../assets/images/cropped-background-page-landing.png");*/
  /*background-size: auto 100vh;*/
  /*background-repeat: no-repeat;*/
  color: var(--color-white);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 5em;
  position: relative;
}
