.main > * + * {
  margin-top: 1.5rem;
}

.main__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.main__title_highlighted {
  color: #ADA7FF;
}

@media screen and (min-width: 600px) {
  .main__title {
    font-size: 2.5rem;
    margin: 0.3em;
  }
  .main__subtitle {
    font-size: 1.3rem;
    margin: 0.3em;
  }
}

@media screen and (min-width: 1080px) {
  .main {
    display: flex;
    align-items: center;
  }
  .main > * {
    flex: 1;
  }
  .main > * + * {
    margin-top: 0;
  }
  .main__title {
    text-align: initial;
    font-size: 2rem;
  }
  .main__subtitle {
    font-size: 1rem;
    font-weight: normal;
  }
}
