.product-info-list {
  display: flex;
  margin-top: 1.5rem;
}

.product-info-list > li + li {
  margin-left: 3em;
}

.product-info-list__item h3 {
  margin: 0;
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 1.7rem;
}

@media screen and (min-width: 1080px) {
  .product-info-list {
  }
  .product-info-list > li + li {
    margin-left: 2em;

  }
  .product-info-list__item h3 {
    font-size: 1.5rem;
  }
  .product-info-list span {
    font-size: 0.8rem;

  }
}
