.cta {
  display: flex;
  align-items: center;
}

.cta > * + * {
  margin-left: 1.5em;
}

.cta__button {
  border-radius: 999px;
  background: #ADA7FF;
  border: none;
  padding: 0.5em 1.2em;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.cta__button > img {
  margin-left: 0.6em;
}

.cta__video {
  display: flex;
  align-items: center;
}

.cta__video img {
  width: 3em;
}

.cta__video span {
  color: #ADA7FF;
}

.cta__video > * + * {
  margin-left: 1em;
}

@media screen and (min-width: 600px) {
  .cta {
    margin-top: 1em;
  }
  .cta__button > img {
    margin-left: 1em;
  }
  .cta__button {
    padding: 0.7em 1.5em;
    font-size: 1.2rem;
  }
  .cta__video img {
    width: 3.5em;
  }
  .cta__video span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1080px) {
  .cta__video img {
    width: 2em;
  }
  .cta__button{
    padding: 0.5em 1.3em;
    font-size: 0.7rem;
  }
  .cta__video span {
    font-size: 0.8rem;
  }
}
