.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 1em;
}

.footer__nav-menu {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
}

.footer__media-wrapper {
  display: flex;
  gap: 2em;
}

.footer__icon-wrapper {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer__nav-menu {
    display: flex;
    gap: 1em;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
