.header {
  min-height: calc(100vh - 2 * var(--page-padding));
  display: flex;
  flex-direction: column;
  padding: var(--page-padding);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-menu {
  display: none;
  --menu-gap: 2em;
  list-style-type: none;
  gap: var(--menu-gap);
  padding: 0;
  margin: 0;
}

.desktop-menu > li + li {
  padding-left: var(--menu-gap);
  border-left: 2px solid rgba(256, 256, 256, 0.5);
}

.nav__menu-button {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.burger-menu-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(48, 56, 84);
  height: 100vh;
  width: 0;
  overflow: hidden;
  transition: width 0.5s linear;
  white-space: nowrap;
}

.burger-menu-wrapper.is-open {
  width: 80%;
}

.burger-menu {
  list-style-type: none;
  padding: 2em;
  margin: 0;
}

.burger-menu > li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu__image-wrapper {
  height: 3em;
  min-width: 3em;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu__image-wrapper img {
  margin: 0 auto;
}

.burger-menu p {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.header__content {
  gap: 2em;
  margin: auto 0;
}

.hero-image {
  height: 40vh;
  width: auto;
  align-self: center;
}

.hero-content__subtitle {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

.hero-content__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

.hero-content__price-block {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 2em;
}

.hero-content__new-price {
  font-size: 3.3em;
  font-weight: 700;
}

.hero-content__splitter {
  align-self: stretch;
  width: 3px;
  background-color: #fff;
}

.hero-content__old-price {
  opacity: 0.7;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: line-through;
}

.hero-content__button {
  padding: 1em 2em;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ff4948;
  border: none;
  background-color: #fff;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .desktop-menu {
    display: flex;
  }

  .header__content {
    flex-direction: row;
    margin: auto 0;
    gap: 3em;
    align-items: center;
  }
  .hero-image {
    flex: 1;
    max-width: 45%;
    height: auto;
  }

  .hero-content__title {
    font-size: 5rem;
  }

  .hero-content__button {
    align-self: flex-start;
  }
}
