/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "flex-column.css";
@import "title.css";
@import "header.css";
@import "main/main.css";
@import "main/latest-collection.css";
@import "main/info.css";
@import "main/latest-product.css";
@import "main/box.css";
@import "main/subscribe.css";
@import "footer.css";
/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
  --page-padding: 1em;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.red-bg-color {
  background: linear-gradient(74.79deg, #ff9292 -7.33%, #de5150 90.21%);
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
}
