.container {
  position: relative;
}

.product-example__animal.dog {
  width: 27vmin;
  height: auto;
  position: absolute;
  top: 2vmin;
  right: 5vmin;
}

.product-example__animal.cat {
  width: 32vmin;
  height: auto;
  position: absolute;
  top: 3vmin;
  left: 5vmin;
}

.product-example__animal-background {
  width: 42vmin;
  height: auto;
}

.product-example__paw-background {
  width: 12vw;
  height: auto;
}

.product-example__paw-background.cat-paw {
  align-self: flex-end;
}

.product-example__paw-background.dog-paw {
  align-self: flex-start;
}

@media screen and (min-width: 600px) {
  .product-example__animal.dog {
    width: 28vmin;
    height: auto;
    position: absolute;
    top: 2vmin;
    right: 7vmin;
  }
  .product-example__animal.cat {
    width: 35vmin;
    height: auto;
    position: absolute;
    top: 3vmin;
    left: 7vmin;
  }
  .product-example__animal-background {
    width: 42vmin;
    height: auto;
  }
  .product-example__paw-background {
    width: 15vmin;
    height: auto;
  }
}

@media screen and (min-width: 1080px) {
  .product-example__animal.dog {
    width: 25vmin;
    height: auto;
    position: absolute;
    top: 1vmin;
    right: 5vmin;
  }
  .product-example__animal.cat {
    width: 28vmin;
    height: auto;
    position: absolute;
    top: 2vmin;
    left: 5vmin;
  }
  .product-example__animal-background {
    width: 30vmin;
    height: auto;
  }
  .product-example__paw-background {
    width: 9vmin;
    height: auto;
  }
}
